{% load static%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>TOYU</title>
      
      <!-- Favicon  href="{% static 'assets/css/pages/extra_pages.css' %}"   -->
      <link rel="shortcut icon" href="{% static 'TOYU_LOGO_V2_AMBLEM.png' %}" />
      <link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/backend.css?v=1.0.0' %}">
      <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vendor/remixicon/fonts/remixicon.css' %}">  </head>


   
   
    <!-- loader END -->
   



<body>
        <!-- loader Start -->
        <div id="loading">
            <div id="loading-center">
            </div>
        </div>



    <div id="activation-data" 
         data-phone="{{ phone }}" 
         data-email="{{ email }}">
    </div>

    

    <div class="wrapper">
        <section class="login-content">
           <div class="container">
              <div class="row align-items-center justify-content-center height-self-center">
                 <div class="col-lg-8">
                    <div class="card auth-card">
                       <div class="card-body p-0">
                          <div class="d-flex align-items-center auth-content">
                             <div class="col-lg-7 align-self-center">
                                <div class="p-3">
                                    <div id="activation-message">
                                        <h3>Telefona gelen aktivasyon linkini tıklayınız...</h3>
                                
                                          
                                    </div>
                                </div>
                             </div>
                             <div class="col-lg-5 content-right">
                                <img src="{% static 'TOYU_LOGO_V2_AMBLEM_YAZI.png' %}" class="img-fluid image-right" alt="">
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        </div>

    <script>
        // HTML'deki data-attribute'lardan bilgileri alıyoruz
        const activationDataElement = document.getElementById('activation-data');
        const phone = activationDataElement.getAttribute('data-phone');
        const email = activationDataElement.getAttribute('data-email');

        console.log("Phone:", phone);
        console.log("Email:", email);

        // Telefon numarasını backend'e gönderme örneği
        function checkActivationStatus() {
            fetch('/api/check-activation-status/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'), // CSRF token
                },
                body: JSON.stringify({ phone_number: phone }) // Telefon numarasını gönderiyoruz
            })
                .then(response => response.json())
                .then(data => {
                    if (data.is_active) {
                        document.getElementById('activation-message').innerHTML = "<p>Hesabınız aktif hale getirildi. Yönlendiriliyorsunuz...</p>";
                        setTimeout(() => {
                            window.location.href = '/user/moduleDocs/';
                        }, 2000);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        setInterval(checkActivationStatus, 5000);

        // CSRF token'ı almak için fonksiyon
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

    
    <!-- Backend Bundle JavaScript -->
    <script src="{% static 'assets/js/backend-bundle.min.js' %}"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="{% static 'assets/js/table-treeview.js' %}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="{% static 'assets/js/customizer.js' %}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script async src="{% static 'assets/js/chart-custom.js' %}"></script>
    
    <!-- app JavaScript -->
    <script src="{% static 'assets/js/app.js' %}"></script>
  </body>
</html>