{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
{% load static%}

	
<div class="row">
	<div class="col-sm-12">
	   <h3 class="mb-3">TAIS ile neler yapabilirsiniz?</h3>
	</div>
</div>

<div class="row" >
	<div class="col-lg-9 col-md-9 col-sm-9">

		<div class="card">
			<div class="card-header d-flex justify-content-between">
			   <div class="header-title">
				  <h4 class="card-title">ChatBot Ekleme</h4> 

			   </div>
			</div>
			<div class="card-body">
				<p>
					<strong>Chatbot eklemek için:</strong>
				</p>
				<ol>
					<li>Soldaki menüden <strong>"Chatbot Yönetimi > Chatbot Ekle"</strong> seçilir.</li>
					<li>Form doldurulur. Destek konularını içeren döküman sisteme yüklenir.</li>
					<li>Form kaydedildikten sonra, chatbot içinde web sitenize eklemeniz gereken kodu alabilirsiniz. 
						Bu kodu web sitenize eklediğinizde chatbot çalışmaya başlayacaktır.</li>
					<li>Chatbot'unuzu test edebilirsiniz.</li>
				</ol>
				
			   
			</div>
		</div>

		<div class="card">
			<div class="card-header d-flex justify-content-between">
			   <div class="header-title">
				  <h4 class="card-title"> Chatbot Listeleme, Güncelleme ve Silme</h4> 

			   </div>
			</div>
			<div class="card-body">
			   <p>
				Chatbot ekleme işlemi tamamlandıktan sonra, "Chatbot Yönetimi > Chatbot Listele" menüsünden eklediğiniz chatbotları listeleyebilirsiniz. Buradan chatbotları güncelleyebilir veya silebilirsiniz.

			   </p>
			   
			</div>
		</div>


		
	</div>

	
</div>


{% endblock body %}