{% autoescape off %}
<p>Merhaba,</p>
<br>
Şifrenizi yenileme talebinde bulunduğunuz için bu maili aldınız. Yenileme işlemini tamamlamanız için aşağıdaki bağlantıyı tıklamanız gerekmektedir
<br><br>
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
<br><br>
Bu bağlantı sadece bir kez kullanılabilir. Eğer tekrar şifre yenileme ihtiyacınız olursa yeniden talepde bulunmanız gerekmektedir.
<br><br>
{{ protocol }}://{{domain}}
<br><br>
Eğer böyle bir talebiniz olmadıysa bu maili dikkate almayın.
<br><br>
Saygılarımızla,<br>
TOYU

{% endautoescape %}
