<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Örneği</title>
</head>
<body>
    <h1>Merhaba, Web Sayfam!</h1>
    <script src="http://localhost:8000/static/js/embed.js"></script>
    
    <!-- Chatbot Scriptini Ekle  
    

    <script src="http://localhost:8000/static/js/chatbot-widget.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      window.ChatbotWidget.init({
        apiKey: "01a075bc-20c3-4784-8f99-c8090cc6a4ae",
        position: "bottom-right",
        primaryColor: "#3B82F6",
        welcomeMessage: "Size nasıl yardımcı olabilirim?"
      });
    });
  </script>  -->


</body>
</html>