{% extends "layout.html" %}

{% block body %}


<div class="row">
  <div class="row mb-2">
    
    <div class="col-md-6">
        <h3>Doküman Listesi
            <a href="/dokumanlar/dokumanAdd">
              <button class="btn btn-success btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>  EKLE
              </button>
            </a>
           
            
            
          
        </h3> 

    </div>      
     
    <div class="col-md-3" align="right">
      <form>
          {% csrf_token %}
          <input type="text" name="keyword" class="input-sm" placeholder="Ara...">
          <button type="submit" class="btn btn-info btn-sm"> search</button>
      </form>
    </div>

  </div>

  </div>
</div>

{% if dokumanlar %}
<div class="row">

  <div class="col-md-12">
      <div class="card">
        
        <div class="table-full-width table-responsive px-0 card-body">
    
    
          
          <table class="table-hover table-striped table">
            <thead>
              <tr>
                <th class="border-0" scope="col">ID</th>
                <th class="border-0" scope="col">Dokuman Tipi</th>
                <th class="border-0" scope="col">Açıklama</th>
                <th class="border-0" scope="col">Tarih</th>
                <th class="border-0" scope="col">Ekleyen</th>
                <th class="border-0" scope="col">Proje</th>
                <th class="border-0" scope="col">Dosya</th>
                <th class="border-0" scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for dosya in dokumanlar %}
                  <tr>
                    <td scope="row">{{dosya.id}}</a></td>
                    <td>{{dosya.type}}</td>
                    <td>{{dosya.aciklama}}</td>
                    <td>{{dosya.created_date}}</td>
                    <td>{{dosya.created_user}}</td>
                    <td>
                       {%if dosya.proje%}
                      <a href ="/order/projeView/{{dosya.proje_id}}">{{dosya.proje|truncatechars:30}}</a>
                    {%endif%}
                    </td>
                    <td>
                      
                      <a href="" target="popup" 
                      onclick="window.open('{{dosya.file.url}}','popup','width=600,height=600'); return false;">
                          <button class="btn btn-success" title="Göster"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                          </svg></button>
                            
                      </a>
                        
                        <a href="/dokumanlar/dokumanSil/{{dosya.id}}" onclick="return confirm('Silmek istediğinize emin misiniz?')"><button class="btn btn-outline-danger" title="Sil">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                          <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                          </svg></button>
                        </a>
                        
                      
                      
                  </tr>
                {% endfor %}
              
          
            </tbody>
          </table>
        

      </div>
      </div>
  </div>
  
</div>
{%endif%}
  
</div>

  
{% endblock body %}