{% extends "layout.html" %}

{% block body %}


<div class="row">
  <div class="row mb-2">
    
    <div class="col-md-6">
        <h3>Bugünün rezervasyon listesi</h3> 
          
    </div>      
     
    <div class="col-md-6" align="right">
      <form>
          {% csrf_token %}
          <input type="text" name="keyword" class="input-sm" placeholder="Ara...">
          <button type="submit" class="btn btn-info btn-sm"> search</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Müşteri</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Order</th>
        <th scope="col">Açıklama</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
        {% for res in res_today %}
          <tr>
            <th scope="row">{{res.id}}</th>
            <td>{{res.order.customer.customer_name}}</a></td>
            <td>{{res.start_date}}</a></td>
            <td>{{res.end_date}}</td>
            <td>{{res.order_id}}</td>
            <td>{{res.description}}</td>
            <td>
              <a href="/order/reservationView/{{res.id}}"><button class="btn btn-warning">Göster</button></a>
              <a href="/order/reservationDelete/{{res.id}}"><button class="btn btn-danger">Sil</button></a>
            </td>
          </tr>
        {% endfor %}
      
  
    </tbody>
  </table>

</div>


<div class="row">
  <h3> Yarınki rezervasyonlar</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Müşteri</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Order</th>
        <th scope="col">Açıklama</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
        {% for res in res_tomorrow %}
          <tr>
            <th scope="row">{{res.id}}</th>
            <td>{{res.order.customer.customer_name}}</a></td>
            <td>{{res.start_date}}</a></td>
            <td>{{res.end_date}}</td>
            <td>{{res.order_id}}</td>
            <td>{{res.description}}</td>
            <td>
              <a href="/order/reservationView/{{res.id}}"><button class="btn btn-warning">Göster</button></a>
              <a href="/order/reservationDelete/{{res.id}}"><button class="btn btn-danger">Sil</button></a>
            </td>
          </tr>
        {% endfor %}
      
  
    </tbody>
  </table>

</div>

{% endblock body %}